.detail-event-container{
    max-width: 640px;
    display: block;
    margin: 0 auto;
    
}

.detail-img{
    width: 100%;
    border-radius: 8px;
}

.detail-name{

}

.detail-place{

}

.detail-host{

}