h1{
    text-align: center;
    margin: 24px;
    font-weight: 600;
    font-size: 36px;
}

#loading{
    display: block;
    margin:  100px auto;
}

.event{
    max-width: 640px;
    background-color: #dfe6ee;
    padding: 8px 8px 8px 24px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 12px auto;
}

.pagination{
    margin: 24px auto;
    width: fit-content;
    display: flex;
    gap: 12px;
}

.pagination button{
    border: none;
    background-color: #cad5e9;
    color: #222121;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    transition: ease 0.1s;
}

.pagination button:hover{
    background-color: #6e8bc1;
    color: #f4f4f4;
    transition: ease 0.1s;
}