*{
    font-family: "M PLUS 1", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    margin: 0px;
    padding-top: 80px;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    /* height: 52px; */
    background-color: #c7d8eb;
    z-index: 100;
    display: flex;
    justify-content: right;
}

.navtext-container{
  margin-right: auto;
}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu-btn{
  display: none;
}

.menu a {
  display: block;
  color: #2b2b2b;
  text-align: center;
  padding: 12px 20px ;
  text-decoration: none;
  transition: ease 0.3s;
}

.menu a:hover{
    font-weight: 600;
    text-decoration: underline;
    transition: ease 0.3s;
}

.menu li {
  border-top: none;
  padding: 0;
  margin: 0;
  transition: 0.3s;
}


.navtext-container {
  /* width: 100%; */
  /* height: 120px; */
  /* background-color: #789ac1;; */
  opacity: 0.96;

  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navtext img{
  height: 48px;
  padding: 12px;
}

@media only screen and (max-width: 600px) {

    header{
        position: fixed;
        top: 0;
        width: 100%;
        height: 52px;
        background-color: #c7d8eb;
        justify-content: left;
      }
      
      /* Nav items */
      .menu {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        margin-top: 52px;
        padding: 0 0 10px 0;
        clear: both;
        background-color: #c7d8eb;
        flex-direction: column;
        opacity: 0.96;
        transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
        transform: scale(1, 0);
        transform-origin: top;
      }
      
      /* Hamburger menu button */
      .menu-btn:checked ~ .menu {
        transform: scale(1, 1);
        transform-origin: top;
        transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
      }
      
      /* Hamburger menu text */
      .menu a {
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 16px;
        text-transform: capitalize;
        transition: 0.5s;
      }
      
      .menu li {
        border-top: 1px solid rgb(75, 75, 75);
        padding: 15px 0;
        margin: 0 54px;
        transition: 0.5s;
      }
      
      .menu-btn:checked ~ .menu a,
      .menu-btn:checked ~ .menu li {
        opacity: 1;
        transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
      }
      
      .menu-btn {
        display: none;
      }
      
      .menu-icon {
        display: inline-block;
        position: relative;
        cursor: pointer;
        padding: 24px 14px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
      
      .navicon {
        background: #2b2b2b;
        display: block;
        height: 3px;
        width: 26px;
        position: relative;
        transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
      }
      
      .navicon:before,
      .navicon:after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        background: #2b2b2b;
        transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
      }
      
      .navicon:before {
        top: 9px;
      }
      
      .navicon:after {
        bottom: 9px;
      }
      
      /* Hamburger Menu Animation Start */
      .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
      }
      
      .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
      }
      
      .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
        top: 0;
      }
      .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        bottom: 0;
      }
      
      .menu-btn:checked ~ .menu-icon .navicon {
        background: rgba(0, 0, 0, 0);
        transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
      }
      /* Hamburger Menu Animation End */
      
      /* Navbar Container */
      .navtext-container {
        display: none;
      }
      
  }

h1{
    font-size: 36px;
}

.hero-div{
    display: flex;
    justify-content: center;
    gap: 36px;
    height: calc( 100vh - 80px );
    align-items: center;
}

.hero-div img{
    height: 240px;
}

.hero-div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.hero-div div p{
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    h1{
        font-size: 24px;
    }

    .hero-div img{
        height: 180px;
    }

    .hero-div div p{
        font-size: 16px;
    }

  }


.greeting{
    justify-content: center;
    padding: 24px;
    margin: 0 auto;
    max-width: 980px;
}

.greeting-flex{
    display: flex;
    flex-direction: row-reverse;
    gap: 48px;
    align-items: center;
}

.greeting img{
    display: block;
    margin: 0 auto;
    width: 240px;
    height: fit-content;
}


.greeting p{
    font-weight: 300;
}

@media only screen and (max-width: 600px) {

    .hero-div{
        flex-direction: column;
    }
    
    .greeting-flex{
        flex-direction: column;
        gap: 48px;
    }

    .greeting{
        justify-content: center;
        margin: 0 12px;
        max-width: 800px;
    }
  }

.info{
    width: 100%;
}

.name{
    font-size: 24px;
    font-weight: bold;
}

.instagram-link{
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: gray;
}

footer{
    text-align: center;
    margin: 24px;
}


