
*{
    font-family: "M PLUS 1", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navbar{
    position: fixed;
    /* width: 100%; */
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: #789ac1;
    /* overflow: hidden; */
    justify-content: right;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px ;
    text-decoration: none;
    transition: ease 0.3s;
}

.navbar ul li a:hover{
    color: black;
    transition: ease 0.3s;
}

.navbar-logo{
    padding: 0;
    margin-right: auto;
}

.navbar-logo a{
    margin: 0;
    padding: 0 !important;
}

h1{
    font-size: 36px;
}

.hero-div{
    display: flex;
    margin-top: 108px;
    justify-content: center;
    /* align-items: stretch; */
    gap: 36px;
}

.hero-div img{
    height: 240px;
    /* height: max-content; */
    /* object-fit: cover; */
}

.hero-div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.hero-div div p{
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    h1{
        font-size: 24px;
    }

    .hero-div img{
        height: 180px;
    }

    .hero-div div p{
        font-size: 16px;
    }

  }


.greeting{
    justify-content: center;
    margin: 48px auto;
    max-width: 980px;
}

.greeting-flex{
    display: flex;
    flex-direction: row-reverse;
    gap: 48px;
    align-items: center;
}

.greeting img{
    display: block;
    margin: 0 auto;
    width: 240px;
    height: fit-content;
}


.greeting p{
    font-weight: 300;
}

@media only screen and (max-width: 600px) {
    .greeting-flex{
        flex-direction: column;
        gap: 48px;
    }

    .greeting{
        justify-content: center;
        margin: 48px 12px;
        max-width: 800px;
    }
  }

.info{
    width: 100%;
}

.name{
    font-size: 24px;
    font-weight: bold;
}

.instagram-link{
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: gray;
}

footer{
    text-align: center;
    margin: 24px;
}


