<header>
    <div class="navtext-container">
      <div class="navtext"><a href="index.html"><img src="../images/logo_no_words.png" alt=""></a></div>
    </div>
    <input type="checkbox" class="menu-btn" id="menu-btn">
    <label for="menu-btn" class="menu-icon"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a href="/html/events-list.html">企画一覧</a></li>
      <li><a href="/html/navigation.html">ご案内</a></li>
      <li><a href="/html/original-contents.html">オリジナルコンテンツ</a></li>
    </ul>
</header>